* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  --webkit-background-size: cover;
  --moz-background-size: cover;
  --o-background-size: cover;
  text-shadow: 0px 0px 20px black;
}

div#crypto-details>p {
  margin: 0;
}

div#crypto-details {
  text-shadow: 0 0 2px black;
}

.weather-icon {
  max-width: 100%;
  width: 40%;
}

div#weather-details {
  text-shadow: 0 0 10px black;
}

.team-logo {
  max-width: 100%;
  width: 1.5rem;
  display: inline-block;
  margin-right: .3em;
  text-align: left;
}